.wrap {
    font-size: 20px;
    font-family: 'Times New Roman';
}

.navbar {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.munu {
    justify-content: flex-end;
}

.menu ul {
    display: flex;

}

.menu li a {
    padding-left: 20px;
    color: #000000;
    text-decoration: none;
}

.content {
    display: flex;
    height: 300px;
    background: #a2caff;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 40px;
}

.footer {
    margin: 0 auto;
    max-width: 1200px;
}

.course1 {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 49.3%;
    height: 50px;
}

.item1,
.item2 {
    display: flex;
    height: 50px;
    background: #a2caff;
    width: 100%;
    text-align: center;
}

.item1 h3,
.item2 h3 {
    margin: auto 0;
    padding-left: 10px;
}

.item img {
    width: 80px;
}

.course2 {
    max-width: 1200px;
    margin: 0 auto;
}

.box1,
.box2 {
    display: flex;
    justify-content: space-between;
}

.box2 {
    margin-top: 15px;
}

.title {
    width: 24%;
    text-align: center;
    justify-content: center;
    background: #a2caff;
}

.title h2 {
    padding: 10%;
}

.title img {
    width: 100%;
}



@media(max-width: 1200px) {
    .wrap {
        margin: 0 auto;
    }

    .box1,
    .box2 {
        flex-wrap: wrap;
    }

    .box2 {
        margin-top: 0px;
    }

    .title {
        width: 49.3%;
        margin-bottom: 10px;
    }

    .course1 {
        margin-bottom: 15px;
    }

    .footer {
        width: 90%;
    }
}



@media(max-width: 600px) {
    .wrap {
        font-size: 20px;
    }

    .content h1 {
        font-size: 30px;
    }

    .menu ul {
        display: none;
    }

    .navbar {
        display: block;
        width: 30px;
    }

    .item {
        width: 100%;
        margin-bottom: 5%;
    }

    .item1 {
        height: 100%;
    }

    .item img {
        width: 80px;
    }

    .course1 {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .box1,
    .box2 {
        flex-wrap: wrap;
    }

    .title {
        width: 100%;
        margin-bottom: 5%;
    }

    .title h2 {
        padding: 5%;
    }

}




for (let i=2; i < 6; i++) {
    let information=data2[i];
    let h2=document.createElement("h2");
    let stitle=document.createTextNode(information.stitle);
    h2.appendChild(stitle);
    let element=document.querySelector(".title");
    element.appendChild(h2);
}